<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ctk43_Nhom1_Manage_Job.Properties.DefaulSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ctk43_Nhom1_Manage_Job.Properties.customSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ctk43_Nhom1_Manage_Job.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="JobManagement" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=ManageJob; Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <ctk43_Nhom1_Manage_Job.Properties.DefaulSetting>
      <setting name="Sound" serializeAs="String">
        <value>Resources\musicDefault.mp3</value>
      </setting>
      <setting name="VolumUp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Volum" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="runWithWin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="runHide" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="timeStart" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="timeEnd" serializeAs="String">
        <value>180</value>
      </setting>
    </ctk43_Nhom1_Manage_Job.Properties.DefaulSetting>
    <ctk43_Nhom1_Manage_Job.Properties.customSetting>
      <setting name="Sound" serializeAs="String">
        <value />
      </setting>
      <setting name="VolumUp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Volum" serializeAs="String">
        <value />
      </setting>
      <setting name="runWithWin" serializeAs="String">
        <value />
      </setting>
      <setting name="runHide" serializeAs="String">
        <value />
      </setting>
    </ctk43_Nhom1_Manage_Job.Properties.customSetting>
    <ctk43_Nhom1_Manage_Job.Properties.Settings>
      <setting name="email" serializeAs="String">
        <value>default@gmail.com</value>
      </setting>
      <setting name="name" serializeAs="String">
        <value>default</value>
      </setting>
      <setting name="emailDefault" serializeAs="String">
        <value>default@gmail.com</value>
      </setting>
      <setting name="namePoject" serializeAs="String">
        <value>Ứng dụng quản lý nhắc việc</value>
      </setting>
      <setting name="startUp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="contact" serializeAs="String">
        <value>1911205@dlu.edu.vn - Nguyễn Hữu Đức Thanh
1911166@dlu.edu.vn - Võ Công Lý
1911164@dlu.edu.vn - Võ Đình Hoàng Long
1911158@dlu.edu.vn - Nguyễn Hoàng Đăng Khoa</value>
      </setting>
      <setting name="Sound" serializeAs="String">
        <value>Resources\musicDefault.mp3</value>
      </setting>
      <setting name="VolumeUp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Volume" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="RunWithWin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="runHide" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="timeStart" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="timeEnd" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="doByTeam" serializeAs="String">
        <value>CTK43-Nhóm 1</value>
      </setting>
      <setting name="version" serializeAs="String">
        <value>Beta-1.0</value>
      </setting>
    </ctk43_Nhom1_Manage_Job.Properties.Settings>
  </userSettings>
</configuration>